<!doctype html>
<html lang="{{data.lang}}">
{{> head}}
<body>
<nav class="container-center">
    <ul>
        <li class="response_status_description m-b-20">
            Hello user_name!
        </li>
        <li class="m-b-10">
            <a href="/src/pages/auth.hbs">Auth Page</a>
        </li>
        <li class="m-b-10">
            <a href="/src/pages/registration.hbs">Registration Page</a>
        </li>
        <li class="m-b-10">
            <a href="/src/pages/chat.hbs">Chat Page</a>
        </li>
        <li class="m-b-10">
            <a href="/src/pages/profile.hbs">Profile Page</a>
        </li>
        <li class="m-b-10">
            <a href="/src/pages/404.hbs">404 Page</a>
        </li>
        <li class="m-b-10">
            <a href="/src/pages/500.hbs">500 Page</a>
        </li>
    </ul>
</nav>
</body>
</html>
