{{#NavLink classNames=classNames  id=id onClick=onSetActive isActive=isActive}}
    <div>
        <div class="avatar-middle"></div>
    </div>
    <div class="user-container">
                    <span class="user-name">
                        {{title}}
                    </span>
        <span class="last-message">
            {{text}}
        </span>
    </div>
    <div class="information-message direction-column">
                    <span class="time">
                        {{time}}
                    </span>
        {{#if unreadMessagesCount includeZero=false}}
            <div class="widget">
                {{unreadMessagesCount}}
            </div>
        {{/if}}
    </div>
{{/NavLink}}
