$primary: #3369F3;
$secondary: #EFEFEF;
$error: #FF2F2F;
$active: #E4EDFD;
$default-background: #FFFFFF;
$dark-background: #FBFBFB;
$default-link-color: #999999;
$default-font-color: #1E1E1E;

$font-size-0: 0.45rem;
$font-size-1: 0.60rem;
$font-size-2: 0.65rem;
$font-size-3: 1rem;
$font-size-4: 2rem;

$default-border-radius: 0.5rem;
$border-radius: 1rem;
$default-border: 1px solid #EAEAEA;
$default-box-shadow: 0 0 6px #00000024;
