@import 'default_variables';
@import 'ui';

html {
  font-size: 20px;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  color: $default-font-color;
  font-style: normal;
  font-size: $font-size-3;
  line-height: 1;
  font-weight: 500;
  display: flex;

  #app {
    display: flex;
    flex-grow: 1;
  }
}

@mixin extra-large-text {
  font: {
    family: inter, sans-serif;
    size: $font-size-4;
    weight: 500;
  }

  line-height: 1;
}


@mixin large-text {
  font: {
    family: inter, sans-serif;
    size: $font-size-3;
    weight: 500;
  }

  line-height: 1;
}

@mixin middle-text {
  font: {
    family: inter, sans-serif;
    size: $font-size-1;
    weight: 500;
  }

  line-height: 0.8;
}

@mixin small-text {
  font: {
    family: inter, sans-serif;
    size: $font-size-0;
    weight: 500;
  }

  line-height: 0.6;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
  align-self: center;
}

@mixin flex-start {
  justify-content: start;
  align-items: start;
  align-self: start;
}

.avatar {
  display: flex;
  border-radius: 50%;

  @include flex-center;

  background: $secondary;
  cursor: pointer;

}

@mixin avatar-small {
  @extend .avatar;

  width: 1.7rem;
  height: 1.7rem;
}

@mixin avatar-middle {
  @extend .avatar;

  width: 2.4rem;
  height: 2.4rem;
}

@mixin avatar-large {
  @extend .avatar;

  width: 6.5rem;
  height: 6.5rem;
}

@mixin styled-input {
  background-color: $secondary;
  border: none;
  border-radius: 0.25rem;
  min-height: 1.6rem;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font-size: 0.7rem;
  font-weight: 300;

  &::placeholder {
    text-align: center;

    @include middle-text;
  }
}

.title-large {
  text-align: center;
  position: relative;
  @include large-text;

}
.title-middle {
  text-align: center;

  @include middle-text;
}

.title-small {
  text-align: center;

  @include small-text;
}

.avatar-small {
  @include avatar-small;
}

.avatar-middle {
  @include avatar-middle;
}

.avatar-large {
  @include avatar-large;

  color: $default-icon-color;

  .avatar {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
  }

  &:hover {
    .edit {
      visibility: visible;
    }
  }

  .edit {
    position: absolute;
    background-color: $default-link-color;
    color: $active;
    width: 2rem;
    height: 2rem;
    display: flex;
    @include flex-center;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0.8;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

.container {
  display: flex;
  flex: 1;
}

.container-start {
  @extend .container;

  @include flex-start;
}

.container-center {
  @extend .container;

  @include flex-center;
}

.direction-column {
  flex-direction: column;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: $default-border-radius;
  padding: 2.5rem 1.5rem;
  box-shadow: $default-box-shadow;
}

.chat-list-container {
  padding: 1rem;
  background-color: $dark-background;
  color: $default-link-color;

  .chat-list-header {
    @include middle-text;

    text-align: right;
  }

  .search-input-container {
    margin: 1rem 0;

    input {
      @include styled-input;
    }
  }

  .message-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: $default-border;
    cursor: pointer;

    &:hover {
      background-color: $active;
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 1rem;
    }

    &:last-child {
      border-bottom: $default-border;
    }

    &.active {
      background: $active;
      cursor: default;
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 1rem;
    }

    .user-container {
      display: flex;
      flex-direction: column;
      padding: 0 0.5rem;
    }

    .user-name {
      font-weight: 600;
      font-size: $font-size-2;
      line-height: 1.5;
      color: $default-font-color;
    }

    .last-message {
      display: flex;
      flex: 3;
      overflow: hidden;
      font-size: $font-size-1;
      color: $default-link-color;
    }

    .information-message {
      display: flex;
      justify-content: space-between;

      .time {
        @include small-text;

        color: $default-link-color;
      }

      .widget {
        background: $primary;
        width: 1rem;
        height: 1rem;
        display: flex;

        @include flex-center;

        color: $default-background;
        font-size: $font-size-1;
        border-radius: 50%;
      }
    }
  }
}

.current-chat-container {
  display: flex;
  background-color: $default-background;
  flex: 2.5;
  justify-content: space-between;

  .user-header-container {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
    border-bottom: $default-border;

    .user-name {
      font-weight: 600;
      font-size: $font-size-2;
    }
  }

  .messages-container {
    @extend .container;

    padding: 1rem;

    .message {
      display: flex;

      @include middle-text;

      line-height: 1.25;
      color: $default-font-color;
      max-width: 50%;
      height: fit-content;
      background: $dark-background;
      padding: 0.5rem;
      border-radius: 0 0.5rem 0.5rem;

      .time-of-message {
        @include small-text;

        color: $default-link-color;
        text-align: right;
      }
    }

    .my-message {
      display: flex;
      align-self: end;

      @include middle-text;

      line-height: 1.2;
      color: #1E1E1E;
      max-width: 50%;
      height: fit-content;
      background: #E4EDFD;
      padding: 10px;
      border-radius: 0.5rem 0.5rem 0;

      .my-time-of-message {
        display: flex;

        @include flex-center;
        @include small-text;

        align-self: end;
        text-align: right;
        color: $primary;

        .success {
          display: flex;
          margin-left: 0.25rem;
        }
      }
    }
  }

  .message-input-container {
    display: flex;
    padding: 1rem;
    width: 100%;
    border-top: $default-border;

    input {
      @include styled-input;

      border-radius: $border-radius;

      &::placeholder {
        text-align: start;
        margin-left: 0.25rem;
      }
    }
  }
}

.response-status-description {
  @include large-text;

  text-align: center;

  & ~ li {
    color: $primary;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}

.profile {
  display: flex;

  @include flex-center;

  & > li:not(:last-child, :first-child, :nth-child(2)) {
    border-bottom: $default-border;
  }

  .profile-name {
    margin-bottom: 3rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    min-width: calc(100vw - 30rem);
    padding: 0.5rem 1rem;

    @include middle-text;

    .info {
      text-align: right;
      color: $default-link-color;
    }
  }

  .warning {
    color: $error;
  }
}

.response-status-header {
  @include extra-large-text;

  text-align: center;
  color: $default-font-color;
}

.chat-menu {
  display: flex;

  @include flex-center;

  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  transition: background-color .5s;
  color: $primary;

  &:hover {
    background-color: $active;
  }
}

.add {
  position: fixed;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
}

.modal {
  position: absolute;
  background: $default-background;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;

  &.left-top {
    left: -5rem;
    top: -5rem;
  }

  &.left-bottom {
    left: -5rem;
    bottom: -5rem;
  }

  &.left {
    left: -5rem;
    bottom: 0;
  }

  &.bottom-left {
    right: 0;
    bottom: -4rem;
  }

  &.top {
    left: 0;
    top: -6rem;
  }
}

.modal-menu {
  display: flex;
  color: $primary;

  @include flex-start;

  li {
    cursor: pointer;
    min-width: 100%;
    align-items: center;
    padding: 0.4rem;
    display: flex;
    transition: background-color .2s;
  }

  li:first-child {
    border-radius: 0.4rem 0.4rem 0 0;
  }

  li:last-child {
    border-radius: 0 0 0.4rem 0.4rem;
  }

  li:hover {
    background-color: $active;
  }

  li > div {
    @include middle-text;

    white-space: nowrap;
    padding-left: 0.3rem;
  }
}

.back-drop-modal-container {
  position: absolute;
  display: flex;
  @include flex-center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-container {
    @include large-text;
    padding: 2rem;
  }
}

