.m-t-40 {
  margin-top: 2rem;
}

.m-b-10 {
  margin-bottom: 0.5rem;
}

.m-b-20 {
  margin-bottom: 1rem;
}

.m-b-40 {
  margin-bottom: 2rem;
}

.m-b-50 {
  margin-bottom: 2.5rem;
}

.m-b-70 {
  margin-bottom: 3.5rem;
}

.m-b-90 {
  margin-bottom: 4.5rem;
}

.m-b-100 {
  margin-bottom: 5rem;
}
