@import '_default_variables.scss';

.button-passive {
  font-size: $font-size-1;
  color: $primary;
  background-color: $default-background;
  cursor: pointer;
  padding: 0;
  margin: 0;

  &.button-link {
    color: $default-link-color;
  }
}

.button-active {
  background: $primary;
  border-radius: 0.4rem;
  padding: 0.6rem 4.4rem;
  color: $default-background;
  font-size: $font-size-2;
  cursor: pointer;
}

.custom-input-group {
  position: relative;
  width: 14rem;

  label {
    color: $default-link-color;
    font-size: 0.65rem;
    line-height: 1;
    position: absolute;
    pointer-events: none;
    left: 0.5rem;
    top: 0.65rem;
    transition: 0.2s ease all;
  }

  input {
    font-size: 0.65rem;
    padding: 0.5rem;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $default-link-color;

    &:focus {
      outline: none;
    }

    &:focus ~ label,
    &:valid ~ label {
      top: -0.45rem;
      font-size: 0.45rem;
      color: $default-link-color;
    }
  }

  .bar {
    position: relative;
    display: block;

    &::before,
    &::after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $primary;
      transition: 0.2s ease all;
    }

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }
  }

  input:focus ~ .bar::before,
  input:focus ~ .bar::after {
    width: 50%;
  }

  .error-input {
    margin: 0.25rem 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.4rem;
    line-height: 0.4rem;
    color: $error;
  }
}

.go-back-bar {
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  background: $dark-background;
  cursor: pointer;

  &:hover {
    background-color: $active;
  }

}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: $default-background;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file span {
  position: relative;
  transition: background-color 0.2s;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Disabled */
.input-file input[type=file]:disabled + span {
  background-color: #eee;
}
