<!doctype html>
<html lang="{{data.lang}}">
{{>head}}
<body>
<main class="container-center">
    <form class="form_container">
        {{>ui/title classNames="title-large m-b-40" label="Вход"}}
        <div class="m-b-90">
            {{>ui/input classNames="custom_input_group m-b-20" type="text" id="login" placeholder="Логин" error=""}}
            {{>ui/input classNames="custom_input_group" type="password" id="password" placeholder="Пароль" error=""}}
        </div>
        <div class="container-center direction_column m-t-40">
            {{>ui/button classNames="button_active m-b-20" type="submit" label="Авторизоваться"}}
            {{>ui/linkButton classNames="button_passive" href="./registration.hbs" label="Нет аккаунта?"}}
        </div>
    </form>
</main>
</body>
</html>
