<!doctype html>
<html lang="{{data.lang}}">
{{> head}}
<body>
<main class="container">
    <aside class="container direction_column chat_list_container">
        <div class="chat_list_header">
            <a href="/src/pages/profile.hbs" class="text">
                {{data.profile}} {{> icons/arrowRight }}
            </a>
        </div>
        <div class="search_input_container">
            {{>ui/classicInput type="text" placeHolder="Поиск" id="search"}}
        </div>
        <ul>
            {{> chatInfo classNames="message_container" name="Максим" text="Друзья, у меня для вас особенный выпуск новостей!" time="10:49" newMessage="2"}}
            {{> chatInfo classNames="message_container active" name="Максим" text="Друзья, у меня для вас особенный выпуск новостей!" time="10:49" newMessage="1"}}
            {{> chatInfo classNames="message_container" name="Андрей" text="Друзья, у меня для вас особенный выпуск новостей!" time="10:49" newMessage="3" }}
            {{> chatInfo classNames="message_container" name="Денис" text="Друзья, у меня для вас особенный выпуск новостей!" time="10:49" newMessage="5"}}
            {{> chatInfo classNames="message_container" name="Иван" text="Друзья, у меня для вас особенный выпуск новостей!" time="10:49" newMessage="9"}}
            {{> chatInfo classNames="message_container" name="Дмитрий" text="Друзья, у меня для вас особенный выпуск новостей!" time="10:49" newMessage="7"}}
        </ul>
    </aside>
    <div class="current_chat_container direction_column">
        <section class="user_header_container">
            <div class="avatar-small"></div>
            <span class="user_name">
                Вадим
            </span>
            {{> ui/IconButtons/openMenuIconButton classNames="chat_menu"}}
        </section>
        <section class="messages_container direction_column">
            {{>message classNames="message direction_column m-b-40" message_text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты
                летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
                так как астронавты с собой забрали только кассеты с пленкой.
                Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не
                попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро." time="11:56"}}
            {{> ownMessage classNames="myMessage m-b-40" text="Круто!" time="12:00"}}
        </section>
        <div class="message_input_container">
            {{> ui/IconButtons/addFileIconButton}}
            {{> ui/classicInput type="text" placeHolder="Сообщение" id="message"}}
            {{> ui/IconButtons/arrowRightIconButton}}
        </div>
    </div>
</main>
</body>
</html>
