<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/styles/reset.css"/>
    <link rel="stylesheet" href="/src/styles/main.scss"/>
    <link rel="stylesheet" href="/src/styles/fonts.css"/>
    <link rel="stylesheet" href="/src/styles/inputs.scss"/>
    <title>Messenger</title>
</head>
<body>
<div class="container">
    <form class="auth_form">
        <h2 class="title">
            Регистрация
        </h2>
        <div class="inputs_group_registration">
            <div class="group low_margin">
                <input type="text" required name="email" id="email">
                <span class="bar"></span>
                <label for="email">Почта</label>
                <p class="error_input">Какая-то ошибка</p>
            </div>
            <div class="group low_margin">
                <input type="text" required name="login" id="login">
                <span class="bar"></span>
                <label for="login">Логин</label>
                <p class="error_input">Какая-то ошибка</p>
            </div>
            <div class="group low_margin">
                <input type="text" required name="first_name" id="first_name">
                <span class="bar"></span>
                <label for="first_name">Имя</label>
                <p class="error_input">Какая-то ошибка</p>
            </div>
            <div class="group low_margin">
                <input type="text" required name="second_name" id="second_name">
                <span class="bar"></span>
                <label for="second_name">Фамилия</label>
                <p class="error_input">Какая-то ошибка</p>
            </div>
            <div class="group low_margin">
                <input type="tel" required name="phone" id="phone">
                <span class="bar"></span>
                <label for="phone">Телефон</label>
                <p class="error_input">Какая-то ошибка</p>
            </div>
            <div class="group low_margin">
                <input type="password" required name="password" id="password">
                <span class="bar"></span>
                <label for="password">Пароль</label>
                <p style="visibility: initial" class="error_input">Какая-то ошибка</p>
            </div>
            <div class="group low_margin">
                <input type="password" required name="password_repeat" id="password_repeat">
                <span class="bar"></span>
                <label for="password_repeat">Пароль (еще раз)</label>
                <p style="visibility: initial" class="error_input">Пароли не совпадают</p>
            </div>
        </div>
        <div class="button_group">
            <button type="submit" class="button_active">Зарегистрироваться</button>
            <a class="button_passive" href="./auth.hbs">Войти</a>
        </div>
    </form>
</div>
</body>
</html>
