<!doctype html>
<html lang="{{data.lang}}">
{{> head}}
<body>
{{> ui/IconButtons/arrowLeftIconButton classNames="go_back_bar" href="./chat.hbs"}}
<main class="container-center">
    <ul class="profile direction_column">
        <li class="m-b-20">
            {{> ui/IconButtons/changeAvatarIconButton classNames="avatar-large"}}
        </li>
        {{>profileHeader classNames="profile_name" name="Иван"}}
        {{>profileRow classNames="row" label="Почта" information="pochta@yandex.ru"}}
        {{>profileRow classNames="row" label="Логин" information="ivanivanov"}}
        {{>profileRow classNames="row" label="Имя" information="Иван"}}
        {{>profileRow classNames="row" label="Фамилия" information="Иванов"}}
        {{>profileRow classNames="row" label="Имя в чате" information="Иван"}}
        {{>profileRow classNames="row" label="Телефон" information="+7 (909) 967 30 30"}}
        <li class="row">
            {{>ui/button classNames="button_passive" type="button" label="Изменить данные"}}
        </li>
        <li class="row">
            {{>ui/button classNames="button_passive" type="button" label="Изменить пароль"}}
        </li>
        <li class="row">
            {{>ui/linkButton classNames="button_passive warning" href="./chat.hbs" label="Выйти"}}
        </li>
    </ul>
</main>
</body>
</html>
