<main class="container-center direction-column">
    <h1 class="response-status-header m-b-20">
        500
    </h1>
    <h3 class="response-status-description m-b-70">
        Мы уже фиксим
    </h3>

    {{#Button classNames='button-passive' type='button' onClick=onHandleGoToChatClick}}
        Назад к чатам
    {{/Button}}
</main>
