<main class="container-center direction-column">
    <h1 class="response-status-header m-b-20">
        404
    </h1>
    <h3 class="response-status-description m-b-70">
        Не туда попали
    </h3>

    {{#Button classNames='button-passive' type='button' onClick=onHandleGoToProfileClick}}
        Профиль
    {{/Button}}
</main>
