<main class="container-center">
    {{#Form classNames='form-container'}}
        {{#Title class='title-large m-b-40'}}
            Изменить пароль
        {{/Title}}
        <div>
            {{{InputGroup classNames='m-b-20' type='password' id='old_password' placeholder='Старый пароль'
                          onBlur=onHandleBlur onFocus=onHandleFocus ref='InputGroupOldPasswordRef'}}}
            {{{InputGroup classNames='m-b-20' type='password' id='password' placeholder='Новый пароль'
                          onBlur=onHandleBlur onFocus=onHandleFocus ref='InputGroupPasswordRef'}}}
            {{{InputGroup classNames='m-b-20' type='password' id='password_repeat' placeholder='Новый пароль (еще раз)'
                          onBlur=onHandleBlur onFocus=onHandleFocus ref='InputGroupPasswordRepeatRef'}}}
        </div>
        <div class="container-center direction-column m-t-40">
            {{#Button classNames='button-active  ' type='submit' onClick=onHandleChangePasswordClick id='save_button'}}
                Сохранить
            {{/Button}}
            {{#Button classNames='button-passive' type='button' onClick=onHandleGoToProfileClick id='cancel_button'}}
                Отмена
            {{/Button}}
        </div>
    {{/Form}}
    {{#if isLoading}}
        {{{Loader}}}
    {{/if}}
</main>

