<section class="user-header-container">
    <div class="avatar-small"></div>
    {{{ChatName}}}
    {{{ChangeUserListModal onHandleOpenChatMenuClick=onHandleOpenMenuClick
                           onHandleChatMenuChoice=onHandleChatMenuChoice
                           id="menu_user"
                           ref="chatMenuModalContainerRef"
                           isOpen=isOpen}}}
    {{#if isOpenUserMenu}}
        {{{BackDropModal onBackDropClick=onHandleClose ref="adbackDropModalContainerRef"}}}
    {{/if}}
</section>
