<main>
    <h1>HomePage</h1>
    <!--    {{{button}}}-->
    <!--    {{{input}}}-->
        <!--    {{#each inputs}}-->
    <!--        {{{this}}}<br />-->
        <!--    {{/each}}-->
    {{#Button type="sumbit" onClick=handleClick}}
        Click me!
    {{/Button}}
    {{{Input type="password"}}}
</main>

